<!DOCTYPE html>
<html>
<head>
<title>New Customer</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<style type="text/css">
    /* CLIENT-SPECIFIC STYLES */
    body, table, td, a{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} 
    table, td{mso-table-lspace: 0pt; mso-table-rspace: 0pt;} 
    img{-ms-interpolation-mode: bicubic;} 

    /* RESET STYLES */
    img{border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;}
    table{border-collapse: collapse !important;}
    body{height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important;}

    /* iOS BLUE LINKS */
    a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
    }

    /* MOBILE STYLES */
    @media screen and (max-width: 525px) {

        .wrapper {
          width: 100% !important;
            max-width: 100% !important;
        }

        .logo img {
          margin: 0 auto !important;
        }

        .mobile-hide {
          display: none !important;
        }

        .img-max {
          max-width: 100% !important;
          width: 100% !important;
          height: auto !important;
        }

        .responsive-table {
          width: 100% !important;
        }

        .padding {
          padding: 10px 5% 15px 5% !important;
        }

        .padding-meta {
          padding: 30px 5% 0px 5% !important;
          text-align: center;
        }

        .padding-copy {
             padding: 10px 5% 10px 5% !important;
          text-align: center;
        }

        .no-padding {
          padding: 0 !important;
        }

        .section-padding {
          padding: 50px 15px 50px 15px !important;
        }

        .mobile-button-container {
            margin: 0 auto;
            width: 100% !important;
        }

        .mobile-button {
            padding: 15px !important;
            border: 0 !important;
            font-size: 16px !important;
            display: block !important;
        }

    }

    div[style*="margin: 16px 0;"] { margin: 0 !important; }
</style>
</head>
<body style="margin: 0 !important; padding: 0 !important;">



<!-- HEADER -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td bgcolor="#ffffff" align="center">
            <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
            <tr>
            <td align="center" valign="top" width="500">
            <![endif]-->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px; background:#557da1;" class="responsive-table">
                <tr>
                    <td align="center" valign="top" style="padding: 15px 0; background:#557da1; font-family: Helvetica, Arial, sans-serif; color:#fff" class="logo">
                        <h2 style="width: 100%; padding:0 50px;" >
                            Order Details
                        </h2>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </td>
    </tr>
	
    <tr>
        <td bgcolor="#ffffff" align="center" style="padding: 15px;">
            <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
            <tr>
            <td align="center" valign="top" width="500">
            <![endif]-->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;" class="responsive-table">
                <tr>
                    <td>
                        <!-- COPY -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            
                            <tr>
                              <td align="center" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy"><span class="padding-copy" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;">You have recived an order from {{customer_name}}. This is as follows:</span></td>
                            </tr>
                            <tr>
                              <td align="center" style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #557da1; font-weight:bold; padding-top: 30px;" class="padding-copy">Order #{{order_id}} ({{order_time}})</td>
                            </tr>
                            
                            <tr>
        <td bgcolor="#ffffff" align="center" style="padding: 15px;">
            <table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <!-- COPY -->
                              <td align="left" style="font-size: 22px; font-family: Helvetica, Arial, sans-serif; color: #557da1; padding-top: 30px;" class="padding-copy">Customer Details</td>
                            </tr>
                            <tr>
                              <td align="left" style="padding: 0px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy"><p><strong>Customer ID:</strong>  {{customer_id}}<br>
								  <strong>Email:</strong>  {{customer_mail}}<br>
                                      <strong>Tel:</strong> +1{{customer_phone}}</p></td>
                            </tr>
                           <tr>
                              <!-- COPY -->
                              <td align="left" style="font-size: 22px; font-family: Helvetica, Arial, sans-serif; color: #557da1; padding-top: 30px;" class="padding-copy">Billing Address</td>
                            </tr>
						    <tr>
                              <td align="left" style="padding: 0px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy"><p>
							  Owasis alam<br>
Cloudways<br>
Street One<br>
74800</p></td>
                            </tr>
                            
                            <tr>
                                <td align="center">
                                    <!-- BULLETPROOF BUTTON --></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </td>
    </tr>
                            <tr>
                              <td bgcolor="#ffffff" align="center" style="padding: 15px;"><table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
  									{{#if order_eaten}}
								  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        
                                        <tr>
                                          <td align="left" style="padding: 0px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
										  
										  <p><strong>Order Type :</strong> Eaten <br><hr style="background:#ddd; border:0; height:1px">
                                                  <strong>Table No :</strong> 10<br><hr style="background:#ccc; border:0; height:1px"> 
											      <strong>Allergy Profile :</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry<br><hr style="background:#ddd; border:0; height:1px"> <strong>Special Instructions</strong> : {{special_instructions}}</p></td>
                                        </tr>
                                        
                                        
                                        <tr>
                                          <td align="center"><!-- BULLETPROOF BUTTON --></td>
                                        </tr>
                                    </table></td>
                                  </tr>
									{{/if}}
								  	{{#if order_taken}}
								  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        
                                        <tr>
                                          <td align="left" style="padding: 0px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
										  
										  <p><strong>Order Type :</strong> Taken <br>
										  <hr style="background:#ddd; border:0; height:1px">
                                                  <strong>Payment Mode  :</strong> Credit Card<br>
                                                  <hr style="background:#ddd; border:0; height:1px"> <strong>Allergy Profile :</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry<br><hr style="background:#ddd; border:0; height:1px"> <strong>Special Instructions</strong> : Lorem Ipsum is simply dummy text of the printing and typesetting industry</p></td>
                                        </tr>
                                        
                                        
                                        <tr>
                                          <td align="center"><!-- BULLETPROOF BUTTON --></td>
                                        </tr>
                                    </table></td>
                                  </tr>
									{{/if}}
									{{#if order_delivery}}
								  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        
                                        <tr>
                                          <td align="left" style="padding: 0px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
										  
										  <p><strong>Order Type :</strong> Delivery <br><hr style="background:#ddd; border:0; height:1px">
                                                  <p><strong>Delivery Address  :</strong> Owasis alam ,
Cloudways ,
Street One , 
74800</p>
                                                  <hr style="background:#ddd; border:0; height:1px"> <strong>Allergy Profile :</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry<br><hr style="background:#ddd; border:0; height:1px"> <strong>Special Instructions</strong> : Lorem Ipsum is simply dummy text of the printing and typesetting industry</p></td>
                                        </tr>
                                        
                                        
                                        <tr>
                                          <td align="center"><!-- BULLETPROOF BUTTON --></td>
                                        </tr>
                                    </table></td>
                                  </tr>
									{{/if}}
                                </table>
                                  <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->                              </td>
                            </tr>
										   
							  <tr>
							  <td align="center" style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #557da1; font-weight:bold; padding-top: 30px;" class="padding-copy">&nbsp;</td>
						  </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" align="center" style="padding:0 15px;" class="padding">
           <table width="100%" border="1" cellspacing="1" cellpadding="1" style="max-width: 500px; font-family: Arial, sans-serif; color: #333333; font-size: 16px;" class="responsive-table">
  <tr>
    <td style="padding:10px;"><strong>Product</strong> </td>
    <td style="padding:10px;"><strong>Quantity</strong></td>
    <td style="padding:10px;"><strong>Price</strong></td>
  </tr>
  {{#each products}}			   
  <tr>
    <td style="padding:10px;">{{product_name}}</td>
    <td style="padding:10px;">{{product_count}}</td>
    <td style="padding:10px;">${{product_price}}</td>
  </tr>
 {{/each}}				   
  <tr>
    <td colspan="2" style="padding:10px;">Subtotal:</td>
    <td style="padding:10px;">${{order_subtotal}}</td>
  </tr>
  <tr>
    <td colspan="2" style="padding:10px;">Tax:</td>
    <td style="padding:10px;">${{order_tax}}</td>
  </tr>	
  <tr>
    <td colspan="2" style="padding:10px;">Tip:</td>
    <td style="padding:10px;">${{order_tip}}</td>
  </tr>	
  <tr>
    <td colspan="2" style="padding:10px;">Service:</td>
    <td style="padding:10px;">$0.00</td>
  </tr>				   
  <!--tr>
    <td colspan="2" style="padding:10px;">Payment Method:</td>
    <td style="padding:10px;">Cash on delivry </td>
  </tr-->
  <tr>
    <td colspan="2" style="padding:10px;"><strong>Total:</strong></td>
    <td style="padding:10px;"><strong>${{order_total}}</strong></td>
  </tr>
</table>

      </td>
    </tr>
  
    

</table>

</body>
</html>
